APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=ucu_talent_database_dev

# Usuario utilizado por la aplicación
POSTGRES_USER=user_dev
POSTGRES_PASSWORD=your_user_password

# Usuario utilizado por Flyway
FLYWAY_USER=flyway_user
FLYWAY_PASSWORD=your_flyway_password

CLOUD_SQL_INSTANCE=your-project:your-region:your-instance

GOOGLE_APPLICATION_CREDENTIALS_HOST=/path/to/application_default_credentials.json

# En Windows, el archivo normalmente se encuentra en:
# C:\Users\<USUARIO>\AppData\Roaming\gcloud\application_default_credentials.json
